<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
    <form class="login_container"></form>
<h1>Sign page</h1>
</body>

<%- include('includes/footer') %>